/* Général à la page */
.margin-bottom {
    margin-bottom: 20px;
}

/*  Images */
.image-resize {
    max-width: 30vw;
}
.image-resize:hover {
    animation: imageHover 3s;
}

/* Titres */
.job-other, .tech-color {
    padding-top: 10px;
    color: #add0e6;
}
.job-other:hover {
    color: #764ba2;
}

/* Réglages texte */
.assignment-box {
    margin-left: 20px;
    text-align: justify;
    align-self: center;
}
.assignment {
    padding-top: 10px;
}
.assignment-top-margin {
    margin-top : 20px;
}
.assignment-title {
    font-family: Poppins-bold;
}

/* Détails mise en page */
.margin-top {
    margin-top: 20px;
}

/* Lignes horizontales */
hr {
    margin-bottom: 1rem;
    background-color: lightsteelblue;
    border: none;
    height: 1px;
}
.margin-top, .line-margin-top {
    margin-top: 50px;
}
.seperate {
    height: 2px;
    border: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .image-resize {
        max-width: 250px;
    }
    .flex-portfolio {
        flex-direction: column;
        align-items: center;
    }
    .job-portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }
    .assignment-center {
        text-align: center;
    }
    .line-margin-top {
        visibility: hidden;
    }

} 

/* Animation */
@keyframes imageHover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}


