/* Général à la page */
.margin-bottom {
  margin-bottom: 1.5rem;
}

/* Cards */
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 40%;
  border: solid 0.1px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
}

/*  Images */
.image-resize,
.image-resize-simple {
  max-width: 30vw;
}
.image-resize:hover {
  animation: imageHover 3s;
}

/* Titres */
.job-other,
.tech-color {
  padding-top: 1.5rem;
  color: #add0e6;
}
.job-other:hover {
  color: #764ba2;
}

/* Réglages texte */
.assignment-box {
  text-align: justify;
  align-self: center;
  margin: 20px;
  font-size: 0.8rem;
}
.assignment {
  padding-top: 1.5rem;
}
.assignment-top-margin {
  margin-top: 1rem;
}
.assignment-title {
  font-family: Poppins-bold;
}

/* Détails mise en page */
.margin-top {
  margin-top: 1.5rem;
}

/* Lignes horizontales */
hr {
  margin-bottom: 1rem;
  background-color: lightsteelblue;
  border: none;
  height: 1px;
}
.margin-top,
.line-margin-top {
  margin-top: 1rem;
}
.seperate {
  height: 2px;
  border: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .image-resize {
    max-width: 250px;
  }
  .flex-portfolio {
    flex-direction: column;
    align-items: center;
  }
  .job-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .assignment-center {
    text-align: center;
  }
  .line-margin-top {
    visibility: hidden;
  }
  #name,
  nav ul {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  #name,
  nav ul {
    font-size: 70%;
  }
}

/* Animation */
@keyframes imageHover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
