/* Marges et positionnement formulaire */
.form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.area {
    margin: 30px 0 30px;
}
input {
    width: 35vw;
}
textarea {
    width: 35vw;
    height: 15vw;
}

/* Titre Contact */
.white {
    text-align: center;
    padding-bottom: 0;
}
h2 {
    color: #CB6CE6;
}
.top-margin {
    margin-top: 2rem;

}

/* Customisation des champs */
.hover:hover {
    background-color: #add0e6;
}
input, textarea {
    border: 1px solid lightgray;
}
input {
    border-radius: 50px;
}
textarea {
    border-radius: 15px;
}

/* Bouton */
.custom-button {
    border-radius: 60px;
    border: none;
    background-color: #CB6CE6;
    width: 20vw;
    height: 40px;
    color: white;
}
.custom-button:hover {
    background-color: white;
    color: #FF66C4;
    border: solid 1px #FF66C4;
}
.button {
    display: flex;
    justify-content: center;
}

/* Media Query */
@media (max-width: 480px) {
    input {
        min-width: 200px;
    }
    textarea {
        width: 200px;
        height: 100px;
    }
}