/* Général */
@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins.ttf);
}
@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
.blue {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}
.blue h2 {
    font-weight: bold;
}
.blue, .white {
    padding: 3rem 0 3rem 0;
}
.white h2 {
    color: #667eea;
}
h2 {
    padding-bottom: 2rem;
}
h2:hover {
    animation: titleHover 2s;
    color: black;
}
.bold {
    font-weight: bold;
    margin-top: 10px;
}
.restrict {
    margin-left: 200px;
    margin-right: 200px;
}
p {
    margin: 5px 0 5px 0;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #add0e6;
}
.center {
    text-align: center;
}
ul li {
    list-style-type: none;
}

/* Barre de navigation */
nav, .flex {
    display: flex;
    justify-content: center;
}
nav {
    height: 4rem;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);    color: white;
}
.flex {
    padding-top: 5px;
}
#name {
    margin: 1.3rem 1.3rem 1.3rem 1rem;
}
nav li {
    margin-left: 1.5rem;
    list-style-type: none;
}
nav ul {
    margin: 1rem 1rem 1rem 0;
}

/* Nom-Prénom-Photo */
.identite {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: scaleUp 3s;
}
.identite img {
    align-self: flex-end;
    border: none;
    border-radius: 750px;
    width: 15vw;
    height: 15vw;
    animation: slideFromLeft 3s;
}
.identite div {
    text-align: center;
    animation: slideFromRight 2s;
}

/* Expériences professionnelles */
.inline {
    display: flex;
    justify-content: space-between;
}
.description {
    margin: 10px 0 10px 0;
    color: rgb(65, 65, 65);
}
.job {
    color: #8f97df;
}

/* Passions */
.black {
    color: black;
}

/* Contact */
.contact {
    display: flex;
    justify-content: space-around;
}
.fas, .fab {
    margin-right: 10px;
}

/* Media queries */
@media (max-width: 1000px) {
    html {
        font-size: 90%;
    }
    .restrict {
        margin-left: 150px;
        margin-right: 150px;
    }
}
@media (max-width: 910px)  {
    html {
        font-size: 75%;
    }
    nav {
        justify-content: center;
    }
    .presentation ul li {
        list-style-type: none;
    }

    .formations .right {
        margin-bottom: 10px;
    }
    .right, .bold {
        margin-top: 0;
    }
    .right {
        font-size: 72%;
    }
}
@media (max-width: 700px) {
    .identite {
        flex-direction: column;
        padding-top: 10px;
    }
    .identite img {
        align-self: center;
    }
    .restrict {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media (max-width: 615px) {
    .restrict {
        margin-left: 30px;
        margin-right: 30px;
    }
    h2 {
        text-align: center;;
    }
    h2:hover {
        padding-left: 0;
    }
}
@media (max-width: 480px) {
    body {
        width: 480px;
    }
}

/* Animations */
@keyframes slideFromLeft {
    from {
        transform: translateX(-250px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(250px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes titleHover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
@keyframes animate {
    0% {
        content: "(React/Redux)";
    }
    25% {
        content: "(Node)";
    }

    50% {
        content: "(Express)";
    }
    75% {
        content: "(MongoDB)";
    }
}
.typing-animation::after {
    content: "(React/Redux)";
    animation: animate infinite 5s;
}
