/* Général */
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins.ttf);
}
@font-face {
    font-family: Poppins-bold;
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
.blue {
    background-color: #0475ba;
    color: white;
    width: 100%;
}
.white {
    background-color: white;
}
.blue h2 {
    font-weight: bold;
}
.blue, .white {
    padding: 40px 0 40px 0;
}
.white h2 {
    color: #0475ba;
}
h2 {
    padding-bottom: 20px;
}
.bold {
    font-weight: bold;
    margin-top: 10px;
}
.restrict {
    margin-left: 200px;
    margin-right: 200px;
}
p {
    margin: 5px 0 5px 0;
}
a {
    color: white;
}

/* Barre de navigation */
nav, .flex {
    display: flex;
    justify-content: flex-start;
}
nav {
    height: 50px;
    background-color: #0475ba;
    color: white;
    padding: 20px 0 0 20px;
}
#name {
    margin-right: 70px;
}
nav li {
    margin-left: 20px;
    list-style-type: none;
}

/* Nom-Prénom-Photo */
.identite {
    display: flex;
    justify-content: space-around;
}
.identite img {
    align-self: flex-end;
    border: none;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 5px grey;
}
.identite div {
    text-align: center;
}

/* Expériences professionnelles */
.inline {
    display: flex;
    justify-content: space-between;
}
.description {
    margin: 10px 0 10px 0;
}
/* Passions */
.passions {
    margin-right: 200px;
}

/* Contact */
.contact {
    padding-left: 50px;
}





